.family1{
    font-family:  "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.family2{
   font-family:  Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.family3{
   font-family:"Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.heading{
    color:black;
}
.heading:hover{
    color: #2937f0;
}
.grad{
      margin-top: 9rem;
      width: 100%;
      max-width:25rem;
      height: 25rem; 
      border-radius:200px;
      padding: 100px;
      background-image: linear-gradient( 110deg, #2937f0, #9933cb);
      /* justify-content: end; */
}
.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-content: center;
}
.grad1{
    margin-top: 14rem;
    width: 100%;
    max-width:16rem;
    height: 16rem; 
    border-radius:200px;
    /* margin-left: 3rem; */
    padding: 100px;
    background-image: linear-gradient( 180deg, #2937f0, #9933cb);
}
#icon{
    font-size: 5rem;
    background: linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button{
    color: white;
   }
   .button:hover{
    color: black; 
    background-color:white;
   }
